<h2>Product List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Price</th>
            <th>Image URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.productId}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.imageURL}}</td>
            <td>
                <button (click)="updateProduct(product.productId)" class="btn btn-info ">Update</button>
                <button (click)="deleteProduct(product.productId)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
        </tr>
    </tbody>
</table>